<h1 class="text-center pt-2">Contact Us</h1>

<div>
  <form class="px-4 py-3" method="post">
    {{#each errorMessage}}
      <div class="alert alert-danger">
        {{this.msg}}
      </div>
    {{/each}}
    <div class="mb-3">
      <label class="pb-2" >Name</label>
      <input class="form-control" placeholder="Your Name" name="name" value={{name}}>
    </div>
    <div class="mb-3">
      <label class="pb-2">Email address</label>
      <input type="email" class="form-control" placeholder="email@example.com" name="email" value={{email}}>
    </div>
    <div class="mb-3 form-group">
      <label class="pb-2">Message</label>
      <textarea class="form-control"  rows="3" name="message">{{message}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
